<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Predicting Earthquakes</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrQNVakMvvuOxCfuc6JwtJAwSfMk0lM1U&libraries=visualization&callback=initMap">
    </script>

    <style>
      /* Set the size of the map div */
      #map {
        height: 600px;
        width:  800px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>
  </head>

  <body>
    <table border="0" cellpadding="1" style="width: 800px; background-color:black;">
        <tr>
          <td>
            <h1>
              <p style="text-align:center">
                <font color="white">Worldwide Earthquake Forecaster</font>
              </p>
            </h1>
          </td>
        </tr>
    </table>

    <div id="map"></div>

    <!-- Slider form -->
    <table border="1" cellpadding="1" style="width: 800px; background-color:black;">
        <tr>
            <td>
              <p style="text-align:center">
                <form id="submit_params" method="POST" action="{{ url_for('build_page') }}">
                  <div class="slidecontainer" style="width: 100%;">
                    <label>
                      <font color="white">Select future date: <span id="label_slider_value">{{ date_horizon }}</span></font>
                    </label><br>
                    <input type="range" min="0" max="{{ days_out_to_predict }}" value="{{ current_value }}" name="slider_date_horizon"
                      id="slider_date_horizon" step="1" style="width: 100%;">
                  </div>
                </form>
             </p>
            </td>
          </tr>
      </table>

    <!-- Embed markerData as a JavaScript variable using Jinja2's tojson filter -->
    <script>
      var map, heatmap;
      var markerData = {{ earthquake_horizon | tojson }};

      function initMap() {
        // Create map
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 1.5,
          center: {lat: 0, lng: 0},
          mapTypeId: 'roadmap'
        });

        // Create heatmap layer using markerData coordinates
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getHeatmapPoints(),
          map: map
        });

        // Add markers with text labels showing the prediction
        for (var i = 0; i < markerData.length; i++) {
          var marker = new google.maps.Marker({
            position: {lat: markerData[i].lat, lng: markerData[i].lng},
            map: map,
            label: {
              text: markerData[i].pred,
              color: "white",
              fontSize: "10px",
              fontWeight: "bold"
            }
          });
        }
      }

      // Build an array of google.maps.LatLng objects for the heatmap layer
      function getHeatmapPoints() {
        var heatPoints = [];
        for (var i = 0; i < markerData.length; i++) {
          heatPoints.push(new google.maps.LatLng(markerData[i].lat, markerData[i].lng));
        }
        return heatPoints;
      }

      // Slider logic
      var slider1 = document.getElementById("slider_date_horizon");
      var output1 = document.getElementById("label_slider_value");

      slider1.onmouseup = function () {
        document.getElementById("submit_params").submit();
      }

      slider1.oninput = function() {
        var horizon_date = new Date();
        horizon_date.setDate(horizon_date.getDate() + Math.trunc(parseInt(this.value)));
        output1.innerHTML = (horizon_date.getMonth() + 1) + "/" + horizon_date.getDate() + "/" + horizon_date.getFullYear();
      }
    </script>
  </body>
</html>
